@media (max-width: 1903px)
    .calc
        &__table
            width: 977px
@media ( max-width: 1396px )
    .calc
        &__head
            justify-content: center
        &__foot
            justify-content: center;
@media ( max-width: 991px)   //max-width: 1396px
    .calc
        &__head
            justify-content: center
        &__foot
            justify-content: center;
            margin-bottom: 100px;
        &__content
            margin-left: 0
        &__table
            display: none
        &__result
            position: fixed;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 75px
            bottom: 0;
            z-index: 100
        &__description
            display: none
        &__list
            img
                display: none
            h3
                margin-top: 0px;
                font-size: 28px
        &__estimate
            display: none
        &__btn
            margin-left: -135px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 131px;
        &__wrapper
            margin-left: -23px;
        &__ceck_table
            margin-top: 1px
            margin-left: 0px;
        &__mod
            margin-top: 0px;
            margin-left: -115px;
        &__range__table
            width: 100% !important
        &__five
            margin-bottom: -26px;
        &__modification_range
            margin-left: 0
        &__wrap_m
            display: block
        &__text_block
            display: flex
            align-items: center
            justify-content: space-between
            p
                font-family: 'Scada', sans-serif;
                margin: 0
                margin-left: 0;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #9E9E9E;
            span
                font-family: 'Scada', sans-serif;
                margin: 0
                margin-left: 0;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #9E9E9E;
        &__text_range
            margin: 0
        &__item_range
            margin-bottom: 9px;
        
    